Body
{
	background-color:#878787 ;
	Color: ;
	font-family: Freestyle Script;
	Background: url(BackgrounMP.png) bottom center no-repeat;
	background-size: 100% 100%;
}

h1
{
	background-color:#b87d00;
	text-align: center;
	font-size: 100px;
}

h2
{ 
	height: 400px;
	width: 400px;
	float: right;
	margin-top:auto;
	margin-right: 100px;
	margin-left: auto;
	margin-bottom: auto;
}
li
{
		font-size: 36px;
}
Footer
{
		Font-size: 36px;
		text-align: left;
		margin-top:200px;
		background-color:#878787 ;
		width: 800px;
		border-radius: 15px;
}
ul
{
	background-color:#878787 ;
	width: 210px;
	border-radius: 25px;
}