Body
{
	background-color:#878787 ;
	font-family: Freestyle Script;
	font-weight: normal;
	Background: url(BHgMd.png) bottom center no-repeat;
	background-size: 100% 100%;
}

h1
{
	background-color:#b87d00;
	text-align: center;
	font-size: 100px;
}
ul
{
	font-size: 36px;
	background-color:#878787 ;
	width: 210px;
}
Footer
{
		Font-size: 36px;
		text-align: bottom;
		margin-top:200px;
		width: 800px;
		background-color:#878787 ;
}
li
{
		font-size: 36px;
}

