Body
{
	background-color:#878787 ;
	font-family: Freestyle Script;
	font-weight: normal;
}

h1
{
	background-color:#b87d00;
	text-align: center;
	font-size: 100px;
}
h3
{
	font-size: 36px;
	font-weight:normal
}
Footer
{
		Font-size: 36px;
		text-align: bottom;
		margin-top:400px;
}